@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@400;700&display=swap');

html{
    font-family: 'Mukta', sans-serif;
}

:root {
    --primary: rebeccapurple;
    --secondary: cornflowerblue;
  }

  
  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 5px;
  }
  
  *::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, .30);
    border-radius: 5px;
  }
  
  *::-webkit-scrollbar-thumb {
    background-color: white;
    border-radius: 14px;
    border: 2px solid black;
  }